* {
	padding: 0px;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-weight:none;
}
body{
	top:80px;
	font-family: Rockwell Condensed;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(to right, #000, #000035);
	background-size: 100%;
	background-position: absolute;
	position: relative;
}
nav img{
	width: 70px;
	height: 75px;
	padding: 3px;
	margin: 3px 80px;
	}
header {
  position: relative;
}
header img {
  display: block;
  width: 100%;
  height: 450px;
  margin-bottom: 35px;
}
section .button{
	display: flex;
	position:absolute;
	top:375px;
	left:23%;
	border-radius:30%;
	height:50px;
	width:100px;
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid white;
	justify-content: center;
	color:white;
	align-items:center;
	
}
section{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
}
nav{
	background: black;
	height: 80px;
	position: fixed;
	z-index:9999;
	width:100%;
	top:0;
	background:linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.85));
}
 ul{
	float: right;
	margin-right: 80px;
	
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
	
}
nav ul li a{
	color: white;
	filter: brightness(50%);
	font-weight: bold;
	padding-right: 55px;		
}
nav a:hover{
	filter: brightness(100%);
	transition: 0.3s;	
}
nav a.active {
  filter:brightness(100%);
  color: white;
}
nav img:hover{
	width:73px;
	height:78px;
	transition: .3s;
}
section .button:hover{
	background-color:white;
	text-align:center;
	border: 3px solid #000040; 
	color:#000020;
	
}
section p{
	color:white;
	position:absolute;
	margin-left:10%;
	margin-top:25%;
	font-size:12pt;
	font-family:Daytona Condensed Light;
}
h1{
	color:white;
	position:absolute;
	bottom:15%;
	left:10%;
	font-size: 48pt;
	filter:brightness:(100%);
	
}
h1:hover{
	filter: brightness(50%);
	transition:filter 0.4s ease;
}
h2{
	color:white;
	padding-top: 50px;
	margin-left:50px;
}
article{
	margin-bottom:10px;
	height: 1200px;
	margin-right: 10px;
	margin-left: 10px;
	background: linear-gradient(to right, rgba(0,0,0,0.97),rgba(0,0,20,0.7));
	border-radius:30px;	
}
article figure{
	box-sizing: border-box;
}
figcaption{
	color:white;
	font-size: 17px;
	margin-left:37%;
	width:80%;
	text-align:center;
	
}
figure{
	float: left;
	width:15.2%;
	padding:5px;
}
figure img{
	width: 180px;
	height: 300px;
	padding-top: 50px;
	margin: 3px 37%;
	color:white;
}
.image {
  transition: filter 0.4s ease;
  filter: brightness(65%);
}

.image:hover {
  filter: brightness(100%);

}
footer{
	background: black;
	height:80px;
	bottom:0;
	
}
footer img{
	
	height:30px;
	width:30px;
	margin-left:20px;
	margin-top:30px;
	margin-right:20px;
	display:inline-block;
}
footer p {
	color:white;
	font-size: 10px;
	text-align:center;
}

